<h1>id: 
<%= @tasklist.id %>
 のタスク詳細ページ</h1>

<p>タイトル
<%= @tasklist.status %>
</p>
<p>タスク
<%= @tasklist.content %>
</p>

<%= link_to '一覧に戻る', tasklists_path %>

<%= link_to 'このメッセージを編集する', edit_tasklist_path(@tasklist) %>

<%= link_to 'このメッセージを削除する', @tasklist, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
